$white: #ffffff;
$black: #000000;
$off-white: #f6f6f6;
$charcoal: #444;

$light-black: #2d2e31;
$light-grey: #d2d1d1;
$primary: #003366;
$primary-light: lighten($primary, 20%);
$secondary: #7E52A0;
$red: #d8403b;
$error-red: $red;
