@import 'src/styles/_index';

.form-button-rct-component {
  border-radius: 4px;
  padding: 8px 4px;
  color: $primary;
  border: solid 1px $primary;
  height: 37px;
  width: 219px;
  font-size: 12px;
  color: $primary;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: $primary;
    color: $white;
  }
  // &:active {

  // }
  // &.button-disabled {

  // }
  // &.button-changed {
  //   &:hover {
  //   }
  // }
}
